node_modules/
.npm-cache/
.idea/
.env
wp-config.php
content/uploads/
content/blogs.dir/
content/upgrade/
content/advanced-cache.php
content/wp-cache-config.php
*.log
content/cache/
content/backups/
wp/
/vendor/
.DS_Store
.htaccess
*~
*.swp
*.swo
content/themes/*
auth.json
content/optimized
content/plugins
content/languages
